.SignIntitle {
    color: white;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 28px;
    font-family: sans-serif;

}

.text {
    color: #737373;
    font-size: 16px;
    font-weight: 500;
}

.smalltext {
    margin-top: 10px;
    font-size: 13px;
    line-height: normal;
    color: #8c8c8c;
}

.brk {
    height: 30px;
}

.error {
    background-color: #e87c03;
    border-radius: 4px;
    font-size: 14px;
    margin: 0 0 16px;
    color: white;
    padding: 15px 20px;
}

.base {

    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    max-width: 450px;
    padding: 60px 68px 40px;
    display: flex;
    flex-direction: column;
}

.formCon {
    background-color: rgba(0, 0, 0, 0.60);
    display: flex;
    flex-direction: column;
    min-height: 660px;

}

.link {
    color: white;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.FormInput {
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: white;
    height: 50px;
    padding: 0px 20px;
    margin-bottom: 23px;
    font-size: 15px;
    outline: none;
}


.buttonSign {
    background: #e50914;
    border-radius: 4px;
    font-weight: bold;
    padding: 16px;
    border: 0;
    color: white;
    cursor: pointer;
}

button:disabled {
    opacity: 0.5;
}